.App {
  width: 100vw;
  transition: '.6s'
}

.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

#spotlogin {
  background-color: #1DB954;
  border: none;
  border-radius: 5px;
  color: #FFF;
  height: 3em;
  font-size: 1em;
}

.welcome {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome-list li {
  list-style-type: disc;
  margin-top: 1em;
  font-size: 1em;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.palette {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.section {
  width: 50vw;
  height: 45vw;
  display: flex;
  flex-direction: row;
}

.recently {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  justify-content: space-evenly;
}

.sd1 h3 {
  margin: 0;
  font-size: 3vmax;
}

.sd2 h3 {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  margin: 0;
  font-size: 3vmax;
}

.side-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.side-art {
  width: 100%;
}

.side-art img {
  width: 100%;
}

.side-headline {
  width: 100%;
  display: flex;
  justify-content: center;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.side-headline h1{
  margin: 0;
  white-space: nowrap;
  font-size: 3.3vw;
}

.vol h4 {
  font-size: 1.5vmax;
}

.recent-tracks1 {
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg);
  display: flex;
  flex-direction: column;
}

.recent-tracks2 {
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg);;
  display: flex;
  flex-direction: column;
}

.recent-tracks1 ul {
  text-align: right;
}

.recent-tracks2 ul {
  text-align: left;
}

.tracks {
  padding: 0;
}

.side-cassette {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg);
}

.side-cassette h4 {
  font-weight: 400;
  margin: 0 0 0.5vmax 0;
  font-size: 1.5vmax;
  line-height: 1;
}

.side-cassette img {
  width: 100%;
  transform: rotate(180deg);
}



ul {
  
  list-style-type: none;
}

li {
  font-size: 1vmax;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}


.controls {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls h4 {
  margin: 0;
  font-size: 3vmax;
}

.album-info {
  display: flex;
  flex-direction: column;
}

.artwork {
  width: 50%;
}

.artwork img {
  margin-left: 0.5vmax;
  width: 100%;
}

.bottom-cassette {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 8em;
  margin-left: 1em;
}

.bottom-cassette img {
  margin-top: 0.5em;
  width: 100%;
}

.bottom-cassette h4 {
  font-size: 1.3vmax;
  line-height: 1;
  margin: 0;
}

.japanese {
  height: 100%;
  padding-left: .2vmax;
  width: 65%;
}


.cassette {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center
}

.cassette img{
  height: auto;
  width: 100%;
  transform: rotate(180deg);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.icons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.song-name h2 {
  font-size: 8vmax;
  letter-spacing: .875vmin;
  line-height: 1;
  margin: 0;
  padding: .75vmax 0;
}

.song-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-bottom h3 {
  font-size:  6.5vmax;
  font-weight: 100;
  line-height: 1.125;
  margin: 0;
}



  @media screen and (max-width: 1024px){
    .palette {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
     
      justify-content: flex-start;
    }
  
    .section {
      width: 100%;
      height: 100vw;
    }

    .song-name h2 {
      font-size: 16vw;
    }
    
    .cassette {
      margin-top: 3vmax;
      padding: 0 2vmax;
      width: 90%;
    }

    .icons {
      width: 100%;
    }

    li {
      font-size: 2vw;
    }
    
  }


