.App {
  height: auto;
  width: 100vw;
  /* text-align: center; */
  /* height: 100vh; */
  /* font-family: 'Didact Gothic', sans-serif; */
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
}

.palette {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.section {
  width: 50vw;
  height: 45vw;
  display: flex;
  flex-direction: row;
}

.recently {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}

.sd1 h3 {
  margin: 0;
  font-size: 3vmax;
}

.sd2 h3 {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  margin: 0;
  font-size: 3vmax;
}

.side-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.side-art {
  width: 5em;
}

.side-art img {
  width: 100%;
}

.side-headline {
  width: 100%;
  display: flex;
  justify-content: center;
}

.side-headline h1{
  margin: 0;
  writing-mode: sideways-rl;
  font-size: 4.5vw;
}

.vol h4 {
  font-size: 1.5vmax;
}

.recent-tracks1 {
  writing-mode: sideways-rl;
  display: flex;
  flex-direction: column;
}

.recent-tracks2 {
  writing-mode: sideways-rl;
  display: flex;
  flex-direction: column;
}

.recent-tracks1 ul {
  text-align: right;
}

.recent-tracks2 ul {
  text-align: left;
}
.side-cassette {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22%;
}

.side-cassette h4 {
  writing-mode: sideways-rl;
  margin: 0;
  font-size: 2vmax;
  line-height: 1;
}

.side-cassette img {
  width: 100%;
  transform: rotate(-90deg);
}



ul {
  writing-mode: sideways-rl;
  list-style-type: none;
}

li {
  font-size: 1vmax;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}


.controls {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 2em;
}

.controls h4 {
  margin: 0;
  font-size: 3vmax;
}

.album-info {
  display: flex;
  flex-direction: column;
}

.artwork {
  width: 50%;
}

.artwork img {
  width: 100%;
}

.bottom-cassette {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 6em;
  margin-left: 1em;
}

.bottom-cassette img {
  margin-top: 0.5em;
  width: 100%;
}

.bottom-cassette h4 {
  font-size: 1.3vmax;
  line-height: 1;
  margin: 0;
}

.japanese {
  padding-left: .5vmax;
}

.cassette {
  height: 100vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center
}

.cassette img{
  height: auto;
  width: 100%;
}

.icons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.song-name h2 {
  font-size: 8vmax;
  letter-spacing: .875vmin;
  line-height: 1;
  margin: 0;
  padding: .75vmax 0;
}

.song-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-bottom h3 {
  font-size:  6.5vmax;
  font-weight: 100;
  line-height: 1.125;
  margin: 0;
}

